.content {
  position: relative;
  margin: auto;
  width: 300px;
  margin-bottom: 40px;
  .header {
    cursor: pointer;
    div,
    img {
      padding: 0 !important;
    }
  }
  p {
    margin: 0;
    max-width: 300px;
    word-wrap: break-word;
  }
  .post {
    margin-top: 20px;
    img {
      width: 400px;
      height: max-content;
    }
    @media only screen and (max-width: 768px) {
      img {
        width: 300px;
      }
    }
  }
}
