.content {
  position: relative;
  margin: auto;
  width: 300px;
  margin-bottom: 40px;
  .header {
    cursor: pointer;
    div,
    img {
      padding: 0 !important;
    }
  }
  p {
    margin: 0;
    max-width: 300px;
    word-wrap: break-word;
  }
  .post {
    margin-top: 20px;
    @media only screen and (max-width: 768px) {
      width: 300px;
    }
  }
}
